body {
    margin: 0px;
	font-family:raleway,serif;
	font-size:17px;
}

.image {
    background: url('../images/backgrounds-blank-blue-953214.jpg') no-repeat center;
    background-size: cover;
    height: 550px;
}
.image1 {
    background: url('../images/backgrounds-blank-blue-953214.jpg') no-repeat center;
    background-size: cover;
    height: 200px;
    content: "About Us";
}

.firstulist {
    float: right;
    margin-right: 3%;
    margin-top: 2%;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 12px 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-family: Roboto, serif;
    text-align: center;
    font-weight: bold;
}

.active {
    background-color: rgb(255, 102, 0);
    color: white;
    border-radius: 8px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    font-weight: bold;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(255, 102, 0);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    border-bottom: 2px solid rgb(255, 102, 0);
}

.dropbtn:hover {
    border-bottom: 2px solid rgb(255, 102, 0);
}

#innercontent {
    display: flex;
    margin-top: 5%;
    overflow: none;
    flex-direction: row;
}

.innertext {
    width: 55%;
    text-align: center;
    margin-left: 3%;
    color: white;
}

.innertext p {
    font-size: 18px;
    line-height: 30px;
    padding: 5px;
}

.innertext a {
    padding: 14px 35px;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 102, 0);
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
}

#innerimage {
    width: 40%;
}

.design {
    text-align: center;
    float: right;
    width: 400px;
    height: 200px;
    margin-right: 3%;
    margin-top: 3%;
    font-size: 50px;
    font-weight: 900;
    background-color: rgba(255, 102, 0, 0.8);
    text-shadow: 3px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.clear {
    clear: both;
}

.paragraph {
    line-height: 30px;
    padding: 5px;
    width: 55%;
    text-align: justify;
    margin-left: 10%;
}

.service {
    background: linear-gradient(to right, rgba(40, 108, 154, 1) 0%, rgba(38, 117, 207, 1) 0%, rgba(40, 159, 210, 1) 41%, rgba(40, 159, 210, 1) 56%, rgba(40, 108, 154, 1) 100%);
    border-radius: 8px;
    height: 250px;
    width: 1100px;
    margin-left: 10%;
    margin-top: 5%;
    display: inline-block;
}

#serviceheading {
    text-align: center;
    font-size: 40px;
    padding-top: 40px;
    font-family: roboto, serif;
    color: white;
    text-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
}

.subservice {
    width: 320px;
    height: 400px;
    background-color: #e6f0ff;
    margin-left: 30px;
    display: inline-block;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
}

.subservice p {
    font-size: 35px;
    font-weight: bold;
    width: 200px;
    padding-left: 10px;
    float: left;
}

.subservice img {
    width: 70px;
    height: 70px;
    background-color: black;
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 25px;
}

.subservice ul {
    width: 180px;
    line-height: 30px;
    margin-top: 40px;
}

.subservice a {
    padding: 10px 30px;
    float: right;
    background-color: rgba(255, 102, 0, 0.8);
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-family: roboto, serif;
    margin-right: 20px;
}

.subservice a:hover {
    background-color: rgb(255, 102, 0);
}

.service2 {
    height: 400px;
    margin-left: 9.5%;
}

.subservice2 {
    width: 320px;
    height: 400px;
    background-color: #e6f0ff;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
    display: inline-block;
    margin-left: 35px;
    float: left;
}

.subservice2 p {
    font-size: 35px;
    font-weight: bold;
    width: 210px;
    padding-left: 10px;
    float: left;
}

.subservice2 img {
    width: 70px;
    height: 70px;
    background-color: black;
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 25px;
}

.subservice2 ul {
    width: 250px;
    height: 180px;
    line-height: 40px;
    margin-top: 40px;
}

.subservice2 a {
    padding: 10px 30px;
    float: right;
    background-color: rgba(255, 102, 0, 0.8);
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-family: roboto, serif;
    margin-right: 20px;

}

.subservice2 a:hover {
    background-color: rgb(255, 102, 0);
}

.about {
    margin-top: 50px;
    margin-left: 130px;
    padding: 8px;
    width: 30%;
    height: 90px;
    background-color: rgba(255, 102, 0, 0.8);
    border-radius: 10px 10px;
}

.first {
    margin-top: 17px;
    margin-left: 90px;
    font-size: 50px;
}

.pagetitle {
    margin-top: 50px;
    margin-left: 30%;
    padding: 8px;
    width: 40%;
    height: 90px;
    background-color: rgba(255, 102, 0, 0.8);
    border-radius: 10px 10px;
}

.pagetitle p {
    margin-top: 20px;
    text-align:center;
    font-size: 45px;
}

.intro{
	margin-top:7%;
	margin-left:10%;
}

.intro p{
	width:50%;
	text-align:justify;
	line-height:30px;
}

.intro img{
	border-radius:50%;
	height:400px;
	margin-right:8%;
	float:right;
}

.firstblock {
    margin-top: 90px;
    text-align: justify;
    color: black;
    width: 65%;
    margin-left: 18%;
    line-height: 30px;
}

.secondblock {
    float: left;
    margin-top: 20px;
    color: black;
    margin-left: 18%; 
}

.csecondblock {
    line-height: 30px;
	width: 45%;
	text-align: justify;
}

.csecondblock li{
    margin-top: 20px;
	line-height: 30px;
	text-align: justify;
}

.third {
    margin-top: 4%;
    text-align: justify;
    color: black;
	width: 45%;
    line-height: 30px;
}

.image2 {
    width: 30%;
    float: right;
    margin-right: 120px;
    margin-top: 60px;
    border-radius: 8px;
    box-shadow: 1px 1px #000000;
}

.secondblock1 {
    float: left;
    margin-left: 20px;
    width: 50%;
}

.bsecondblock1 {
    margin-top: 60px;
    color: black;
    font-size: 20px;
    width: 80%;
    margin-left: 17%;
}

.csecondblock1 {
    margin-top: 20px;
    color: black;
    margin-left: 31%;
    line-height: 30px;
}

.image3 {
    width: 30%;
    margin-left: 70px;
    margin-top: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px #000;
}

.fourth {
    margin-top: 35px;
    text-align: justify;
    color: black;
    width: 70%;
    line-height: 30px;
    margin-left: 17%;
}

.th,
.td {
    border: 1px solid black;
    width: 50%;
    margin: auto;
    padding-left: 5px;
}

.th {
    background-color: rgb(0, 0, 153);
    color: white;
}

.tr {
    background-color: rgb(204, 204, 179);
}

.tr:nth-child(odd) {
    background-color: rgb(173, 173, 133);
}

.table {
    border: 1px solid black;
    height: 300px;
    width: 50%;
    text-align: left;
    margin-left: 320px;
    margin-top: 50px;
}

.firstblock1 {
    margin-left: 10%;
}

.firstblock1 hr {
    width: 35%;
    float: left;
}

.firstblock1 p {
    text-align: justify;
    color: black;
    width: 80%;
    line-height: 30px;
}

.firstblock1 ul{
	line-height:40px;
	float:left;
}
.firstblock1 img{
	border-radius: 8px;
    box-shadow: 0 0 10px #000;
}

.image4{
	height:350px;
	margin-left:15%;
	margin-top:1%;
}

.image5{
	height:350px;
	margin-left:8%;
	margin-top:1%;
}

.image6{
	height:250px;
	margin-left:12%;
	margin-top:1%;
}

.image7{
	height:250px;
	margin-left:20%;
	margin-top:8%;
}

.image8{
	height:350px;
	margin-left:12%;
	margin-top:7%;
}

.image9{
	height:180px;
	margin-top:6%;
}

.image10{
	height:300px;
	margin-left:9%;
	margin-top:6%;
}

.image11{
	height:300px;
	margin-left:9%;
	margin-top:3%;
}

.image12{
	height:150px;
	margin-left:5%;
	margin-top:1%;
}

.techsolution {
    margin-left: 18%;
}

.techsolution hr {
    width: 35%;
    float: left;
}

.techsolution p {
    text-align: justify;
    color: black;
    width: 80%;
    line-height: 30px;
}

.techsolution ul{
	line-height:35px;
	text-align: justify;
	float:left;
	width:38%;
}
.techsolution img{
	border-radius: 8px;
    box-shadow: 0 0 10px #000;
}

.techsolution1 {
    margin-left: 18%;
}

.techsolution1 ul{
	line-height:35px;
	text-align: justify;
	width:75%;
}

.techsolution1 p {
    text-align: justify;
    color: black;
    width: 55%;
    line-height: 30px;
	float: left;
}

.techsolution1 img{
	border-radius: 8px;
    box-shadow: 0 0 10px #000;
}

.image13{
	height:210px;
	margin-left:4%;
	margin-top:4%;
}

.image14{
	height:210px;
	margin-left:3%;
	margin-top:8%;
}


.form {
    margin-left: 100px;
    margin-top: 70px;
    float: left;
}

.form .form1 .form2 {
    padding: 7px 197px 7px 5px;
    margin-bottom: 10px;
    border: none;
    color: black;
    border-radius: 5px;
    border-bottom: 2px solid grey;
}

.form .form1 .form3 {
    margin-bottom: 10px;
    color: black;
    border-radius: 5px;
}

.form .form1 .form4 {
    padding: 15px 40px;
    margin-left: 120px;
    border: none;
    color: black;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.form .form1 .form2:focus {
    padding: 7px 197px 7px 5px;
    margin-bottom: 10px;
    color: black;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.form .form1 .form4:hover {
    padding: 15px 40px;
    margin-left: 120px;
    border: none;
    color: white;
    background-color: black;
    border-radius: 5px;
    font-weight: bold;
}

.contactdetail {
    margin-top: 60px;
    margin-left: 40%;
}

.contactdetail h1 {
    margin-left: 25%;
}

.canada{
	width:49%;
	float:left;
}

.detail {
    height: 30%;
}

.detail img {
    height: 60px;
    width: 60px;
    float: left;
    cursor: pointer;
}

.detail p {
    margin-left: 80px;
    padding-top: 20px;
}

.address {
	width:60%;
	padding-top:0 !important;
}

.job_form {
    height: auto;
    width: 800px;
    margin: auto;
    margin-top: 70px;
    background-color: #f0f5f5;
    font-family: raleway, serif;
}

.job_form h1 {
    padding: 20px 0px 0px 20px;
}

.job_form hr {
    width: 95%;
    margin: auto;
}

.job_form p {
    width: 95%;
    text-align: left;
    margin: auto;
    padding-top: 20px;
    line-height: 30px;
}

.job_form form {
    width: 95%;
    margin: auto;
}

.job_form form label {
    font-weight: bold;
}

.job_form form .name {
    padding: 9px 150px 9px 5px;
    margin: 10px 30px 0px 0px;
    border-radius: 5px;
    border: 0.5px solid grey;
}

.job_form form .email {
    padding: 9px 510px 9px 5px;
    margin: 10px 30px 0px 0px;
    border-radius: 5px;
    border: 0.5px solid grey;
}

.job_form form #radio1 {
    margin-left: 35%;
}

.job_form form #radio3 {
    margin-left: 32.2%;
}

.job_form form .submit {
    background-color: white;
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 40%;
	cursor:pointer;
}

.table1{
	background: linear-gradient(to right, rgba(40, 108, 154, 1) 0%, rgba(38, 117, 207, 1) 0%, rgba(40, 159, 210, 1) 41%, rgba(40, 159, 210, 1) 56%, rgba(40, 108, 154, 1) 100%);
	width:70%;
	margin:auto;
	padding-left:10px;
	line-height:25px;
	text-align:justify;
}

.td1{
	font-size: 25px;
    padding-top: 10px;
	font-weight:bold;
	padding-bottom:10px;
}

.td2{
	color:white;
	font-size:16px;
}

.td2 a{
	text-decoration:none;
	float:right;
	margin-right:2%;
	margin-top:2%;
	margin-bottom:2%;
	color:black;
	font-size:20px;
	font-weight:bold;
	background-color:white;
	padding:8px 18px;
	cursor:pointer;
}

.td2 a:hover{
	background:none;
	color:white;
}

footer {
    height: 10px;
}

footer p {
    background: linear-gradient(to right, rgba(40, 108, 154, 1) 0%, rgba(38, 117, 207, 1) 0%, rgba(40, 159, 210, 1) 41%, rgba(40, 159, 210, 1) 56%, rgba(40, 108, 154, 1) 100%);
    height: 20px;
    padding-top: 15px;
    padding-left: 8px;
    padding-bottom: 15px;
}

.widgets{
	float:right;
	margin-top:-6px;
	padding-right:10px;
}