body{
   margin:0px;
}

.image{
	   background:url('../images/backgrounds-blank-blue-953214.jpg') no-repeat center;
	   background-size:cover;
	   height:550px;
}

.firstulist{
	float:right;
	margin-right:3%;
	margin-top:2%;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding:12px 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	text-decoration:none;
	font-family:Roboto,serif;
	text-align:center;
	font-weight:bold;
}


.active{
	background-color:rgb(255, 102, 0);
	color:white;
	border-radius:8px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
	font-family:raleway,serif;
	font-weight:bold;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	background-color:rgb(255, 102, 0);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
 	border-bottom:2px solid rgb(255, 102, 0);   
}
.dropbtn:hover{
	border-bottom:2px solid rgb(255, 102, 0);
}


#innercontent{
	display:flex;
	margin-top:5%;
	overflow:none;
	flex-direction:row;
}

.innertext{
	width:55%;
	text-align:center;
	margin-left:3%;
	color:white;
	font-family:raleway,serif;
}

.innertext p{
	font-size:18px;
	line-height:30px;
	padding:5px;
}

.innertext a{
	padding:14px 35px;
	border-radius:10px;
	border:none;
	background-color:rgb(255, 102, 0);
	color:white;
	font-weight:bold;
	font-size:18px;
	cursor:pointer;
	text-decoration:none;
}

#innerimage{
	
	width:40%;
	
}

.design{
	text-align:center;
    float:right;
	width:400px;
	height:200px;
	margin-right:3%;
	margin-top:3%;
	font-size:50px;
	font-weight:900;
	background-color:rgba(255, 102, 0,0.8);
	font-family:raleway,serif;
	text-shadow:3px 4px rgba(0,0,0,0.5);
	border-radius:8px;
}

.clear{
	clear:both;
}

.paragraph{
	font-size:17px;
	line-height:30px;
	padding:5px;
	width:55%;
	text-align:justify;
	margin-left:10%;
	font-family:raleway,serif;
	
}

.service{	
	background: linear-gradient(to right, rgba(40,108,154,1) 0%, rgba(38,117,207,1) 0%, rgba(40,159,210,1) 41%, rgba(40,159,210,1) 56%, rgba(40,108,154,1) 100%);
	border-radius:8px;
    height:250px;
	width:1100px;
	margin-left:10%;
	margin-top:5%;
	display:inline-block;
}
#serviceheading{
	text-align:center;
	font-size:40px;
	padding-top:40px;
	font-family:roboto,serif;
	color:white;
	text-shadow:5px 10px 15px rgba(0,0,0,0.5);
}

.subservice{
	width:320px;
	height:400px;
	background-color:#e6f0ff;	
	margin-left:30px;
	display:inline-block;
	box-shadow:5px 10px 15px rgba(0,0,0,0.5);
}

.subservice p{
	font-size:35px;
	font-family:raleway,serif;
	font-weight:bold;
	width:200px;
	padding-left:10px;
	float:left;
}
.subservice img{
	width:70px;
	height:70px;
	background-color:black;
	border-radius:5px;
	margin-top:40px;
	margin-left:25px;
}

.subservice ul{
	width:180px;
	line-height:30px;
	font-size:17px;
	font-family:raleway,serif;
    margin-top:40px;
}
.subservice a{
	padding:10px 30px;
	float:right;
	background-color:rgba(255, 102, 0,0.8);
	text-decoration:none;
	font-size:17px;
	font-weight:bold;
	color:white;
	font-family:roboto,serif;
	margin-right:20px;
}
.subservice a:hover{
	background-color:rgb(255, 102, 0);
}
.service2{
	height:400px; 
	margin-left:9.5%;
}

.subservice2{
	width:320px;
	height:400px;
	background-color:#e6f0ff;	
	box-shadow:5px 10px 15px rgba(0,0,0,0.5);
    display:inline-block;
	margin-left:35px;
	float:left;
}
.subservice2 p{
	font-size:35px;
	font-family:raleway,serif;
	font-weight:bold;
	width:210px;
	padding-left:10px;
    float:left;
}
.subservice2 img{
	width:70px;
	height:70px;
	background-color:black;
	border-radius:5px;
	margin-top:40px;
	margin-left:25px;
}

.subservice2 ul{
	width:250px;
	height:180px;
	line-height:40px;
	font-size:17px;
	font-family:raleway,serif;
    margin-top:40px;
}
.subservice2 a{
	padding:10px 30px;
	float:right;
	background-color:rgba(255, 102, 0,0.8);
	text-decoration:none;
	font-size:17px;
	font-weight:bold;
	color:white;
	font-family:roboto,serif;
	margin-right:20px;

}
.subservice2 a:hover{
	background-color:rgb(255, 102, 0);
}

.footer{
	width:auto;
	height:500px;
	background: linear-gradient(to right, rgba(40,108,154,1) 0%, rgba(38,117,207,1) 0%, rgba(40,159,210,1) 41%, rgba(40,159,210,1) 56%, rgba(40,108,154,1) 100%);
    margin-top:5%;
}
.footer h1{
	text-align:center;
	font-size:50px;
	padding-top:20px;
	font-family:roboto,serif;
	color:white;
	text-shadow:5px 10px 15px rgba(0,0,0,0.5);
}

.contactdetail{
	height:250px;
	width:320px;
	margin-left:200px;
	float:left;
}
.call{
	height:30%;
}
.call img{
	height:60px;
	width:60px;
	float:left;
	margin-left:5px;
	cursor:pointer;
}

.call p{
	margin-left:80px;
	padding-top:20px;
	font-family:raleway,serif;
	font-size:17px;
	color:white;
}
.mail{
	height:30%;
}
.mail img{
	height:60px;
	width:60px;
	float:left;
	margin-left:5px;
	cursor:pointer;
}
.mail p{
	margin-left:80px;
	padding-top:20px;
	font-family:raleway,serif;
	font-size:17px;
	color:white;
}
.address{
	height:30%;
}
.address img{
	height:60px;
	width:60px;
	float:left;
	margin-left:5px;
	cursor:pointer;
}
.address p{
	margin-left:80px;
	font-family:raleway,serif;
	font-size:17px;
	color:white;
}
.formdetail{
	height:300px;
	width:320px;
	float:right;
	margin-right:150px;
	margin-top:30px;
}

.input{
	margin-bottom:15px;
	font-size:20px;
	padding:5px 40px 5px 10px;
	border:none;
	color:white;
	background-color:black;
	font-family:raleway,serif;
}

#submit{
	text-align:center;
	margin-left:70px;
	border:none;
	color:white;
	background-color:black;
	padding:15px 30px;
	font-size:20px;
	font-family:raleway,serif;
	cursor:pointer;
}
#submit:hover{
	border:1px solid white;
}
.copyright{
	font-family:raleway,serif;
	color:white;
	margin-bottom:10px;
	margin-left:10px;
	font-size:17px;
}